body{
    /* background-color: rgb(159, 139, 116); */
    background-image: url('./pics/2\ \(2\).gif');
    /* background-repeat: no-repeat; */
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

}

#container1 , #container2 {
    background-color: rgba(65, 65, 65, 0.842);
    width: 500px;
    height: 750px;
    flex-shrink: 0;
    border-radius: 20px;
    margin-right: 20px;
    padding: 5px;
    justify-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    
    
}

#container2 {
    width: 800px;
}

/* #ss{
    display: flex;
} */

#DivPregunta {

    background-color:rgba(85, 85, 85, 0.884);
    width: 400px;
    height: 850px;
    flex-shrink: 0;
    border-radius: 20px;
    margin: 30px;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 30px;

    
}

#DivRespuesta1 {
    
    text-align: center;
    background-color:rgba(85, 85, 85, 0.925);
    width: 400px;
    height: 500px;
    margin: 20px;
    border-radius: 20px;
    font-size: 30px;
    padding: 20px;
}

#photoss{
    width: 1100;
    height: 900;
}

#DivRespuesta2 {
    
    text-align: center;
    background-color:rgba(85, 85, 85, 0.925);

}


#volver{
    background-color: rgba(160, 160, 160, 0.967);
}

h1{
    margin: 10px;
    text-align: center;
    margin-top: 30px;
    color: aliceblue;
}

#cambiarlaPregunta{
    margin-top: 300px;
}

#incorrecto , #correcto{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

p{
    /* margin-top: 50px; */
    color: aliceblue;
}

.msg{

    height: 0px;
}

#sayyyac{
    margin: 30px;
    color: aliceblue;
    align-items: baseline;
    font-size: 30px;
    text-align: center;
    background-color:rgba(85, 85, 85, 0.925);
    border-radius: 20px;
}

#sayacButton {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color:rgba(85, 85, 85, 0.925);
    border-radius: 20px;
}


#sayac {
    font-size: 48px;
    margin-top: 20px;
}

#imgfoto{
    margin-top: 60px;
    max-width: 800px;
    border-radius: 20px;
}