/* style pagina principal */
body {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    /* Yatay scroll */
    /* background-color: rgb(135, 135, 135); */
    background-image: url('https://wallpapercave.com/wp/wp2757874.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

#ana {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-width: 1600px;
}

/* #container3 {

} */

/* #container1 {
  

} */


#team1{
    background-color: rgba(116, 0, 0, 0.507);
    width: 400px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 20px;
    margin-left: 40px;
    opacity: 0.9;
    margin-top: 20px;
    display: inline-block;
    padding: 20px;
}

#team2{
    background-color: rgba(10, 0, 115, 0.459);
    width: 400px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 20px;
    margin-right: 20px;
    opacity: 0.9;
    margin-top: 20px;
    padding: 20px;
}

#team3{
    background-color: rgba(116, 95, 0, 0.507);
    width: 400px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 20px;
    margin-left: 40px;
    opacity: 0.9;
    margin-top: 20px;
    padding: 20px;
}

#team4{
    background-color: rgba(139, 0, 139, 0.459);
    width: 400px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 20px;
    margin-right: 20px;
    opacity: 0.9;
    margin-top: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: rgb(237, 237, 237);
}

li {
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

#container2 {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columnas de igual tamaño */
    grid-template-rows: repeat(3, 1fr);
    /* 3 filas de igual tamaño */
    gap: 1px;
    /* Espacio entre los divs */
    height: 100vh;
    /* Altura completa de la ventana */
    justify-content: center;
    margin-top: 36px;
}

.duda {
    width: 200px;
    height: 200px;
    background-color: rgba(71, 71, 71, 0.895);
    margin: 10px;
    /* float: inline-start; */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

#div5 {
    background-color: rgba(94, 94, 92, 0.845);
    ;
    justify-items: center;
    background-image: url('./pics/dado.gif');
    background-size: cover;
}

.butPreguntas {

    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
    background-color: rgb(71, 71, 71);
    color: aliceblue;

}

#dados {
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
    background-color: rgb(71, 71, 71);
    color: aliceblue;
}

#resultado {
    color: aliceblue;
    margin-top: 30px;
    text-align: left;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.divp {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    margin-top: 3px;
}

#puntos {
    color: aliceblue;
    /* text-align: center; */
    /* display: flex; */
    /* align-items: baseline; */
    margin: 30px;
    margin-top: 90px;
}

.anyadir {
    margin-left: 20px;
    width: 25px;
    height: 30px;
    margin-bottom: 50px;
}

.eksi {
    margin-left: 20px;
    width: 25px;
    height: 30px;
    margin-bottom: 50px;
}


header {
    font-family: serif;
    display: flow-root;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.637);
}

#div1 {
    background-image: url('https://static.vecteezy.com/system/resources/previews/046/292/985/non_2x/pixel-art-illustration-treasure-chest-pixelated-treasure-box-treasure-chest-box-pixelated-for-the-pixel-art-game-and-icon-for-website-and-game-old-school-retro-vector.jpg');
    background-size: cover;
    /* box-shadow: 0 4px 6px rgba(255, 0, 0, 0.9); */
}

#sayacBody {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
 
}



#puntosRojo{
    margin-left: 20px;
    font-size: 25px;
}

#puntosAzul{
    margin-left: 20px;
    font-size: 25px;
}

#div2 {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/032/189/250/small/pixel-art-illustration-shield-pixelated-wooden-shield-wood-style-shield-icon-pixelated-for-the-pixel-art-game-and-icon-for-website-and-video-game-old-school-retro-vector.jpg');
    background-size: cover;
}

#div3 {
    background-image: url('https://static.vecteezy.com/system/resources/previews/050/520/212/non_2x/pixel-art-illustration-pack-of-money-pixelated-pile-of-money-pack-pile-of-money-pixelated-for-the-pixel-art-game-and-icon-for-website-and-game-old-school-retro-free-vector.jpg');
    background-size: cover;
}

#div4 {
    background-image: url('https://static.vecteezy.com/system/resources/previews/050/520/212/non_2x/pixel-art-illustration-pack-of-money-pixelated-pile-of-money-pack-pile-of-money-pixelated-for-the-pixel-art-game-and-icon-for-website-and-game-old-school-retro-free-vector.jpg');
    background-size: cover;
}


#div6 {
    background-image: url('https://static.vecteezy.com/system/resources/previews/027/824/303/non_2x/pixel-art-illustration-skull-pixelated-skull-skull-head-icon-pixelated-for-the-pixel-art-game-and-icon-for-website-and-video-game-old-school-retro-vector.jpg');
    background-size: cover;
}


#div7 {
    background-image: url('https://static.vecteezy.com/system/resources/previews/027/824/303/non_2x/pixel-art-illustration-skull-pixelated-skull-skull-head-icon-pixelated-for-the-pixel-art-game-and-icon-for-website-and-video-game-old-school-retro-vector.jpg');
    background-size: cover;
}

#div8 {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/032/189/250/small/pixel-art-illustration-shield-pixelated-wooden-shield-wood-style-shield-icon-pixelated-for-the-pixel-art-game-and-icon-for-website-and-video-game-old-school-retro-vector.jpg');
    background-size: cover;
}

#div9 {
    background-image: url('https://static.vecteezy.com/system/resources/previews/050/520/212/non_2x/pixel-art-illustration-pack-of-money-pixelated-pile-of-money-pack-pile-of-money-pixelated-for-the-pixel-art-game-and-icon-for-website-and-game-old-school-retro-free-vector.jpg');
    background-size: cover;
}